
@import url(https://tangent-ui.netlify.app/components/component.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color:  rgb(53, 53, 80);
    color: white;
}
:root{
    --bg-color:rgb(249 250 251);
    --container-bg-color: #f1f3f3;
    --banner-bg-color:#d4d9dd;
    --text-bg-color:#606163;
    --card-bg-color:#1E293B;
    --cart-button-color : #1E293B;
    --dim-bg-color :#b1b8be;

    --success-hover-color:rgb(113, 184, 113);
    --warning-hover-color: rgb(247, 111, 111);

    --gray : rgb(172, 169, 169);

    --border-radius:7px;
}
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}

body::-webkit-scrollbar:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.navbar{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1rem;
    background-color: #1E293B;
    color: white;
    padding-left: 3rem;
}

.navbar .project-title{
    margin: 1rem;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    /* color: rgb(25, 1, 44); */
    color: white;
}

.navbar .project-title:hover{
    transform: scale(1.05);
}

.navbar-action{
    display: flex;
    justify-content: space-evenly;
    /* width: 20%; */
    width: fit-content;
}


.container{
    height: 80vh;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.btn-login{
    border: none;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    height: fit-content;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: var(--banner-bg-color);
}

.btn-login:hover{
    transform: scale(1.1);
    opacity: 1.1;
}

.navbar-text{
    font-size: 2rem;
    color: var(--banner-bg-color);
    text-decoration: none;
}

.navbar-text:hover{
    color: aliceblue;
    transform: scale(0.98);
}

.card{
    background-color: var(--card-bg-color);
    flex-grow: 1;
    margin: 1rem 3rem;
    min-height: 50vh;
    text-decoration: none;
    color: white;
}

.card:hover{
    transform: scale(0.98);
    transition: transform 1s;
}

.card-content{
    background-color: transparent;
}

footer{
    margin-bottom: 2rem;
}

h2{
    color: var(--bg-color);
}