@import url(../../style.css);

.js-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.quiz-answer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 2rem;
}

.quiz-container{
    padding: 2rem;
    line-height: 1rem;
    font-size: 2rem;
    width: 70%;
    /* align-content: center; */
    /* justify-content: center; */
    margin: auto;
}

.quiz-answer button{
    padding: 1rem;
    width: 100%;
}

.quiz-question{
    margin: auto;
    text-align: center;
    line-height: 3rem;
    word-break: break-word;
}

.code-snippet{
display: inline-block;
    background-color: gray;
    padding: 1rem;
}

.quiz-question{
    margin: auto;
    text-align: center;
    line-height: 3rem;
    word-break: break-word;
}

.btn-hover:active{
    border: none;
}

.btn-icon{
    text-decoration: none;
    padding: 1rem;
}

.btn-outline{
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
}

.btn-icon:hover{
    transform: scale(0.98);
    opacity: 0.9;
}

.btn-hover:hover{
    background-color: var(--success-hover-color);
}

.btn-outline:hover{
    background-color: var(--warning-hover-color);
}

.code-snippet{
display: inline-block;
    background-color: gray;
    padding: 1rem;
}

.score{
    font-size: 2rem;
    padding: 1rem;
}

.quiz-rules-title{
    margin: 3rem 0;
}