main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;   
    color: var(--text-bg-color);
    padding: 2rem 0;
}

.leaderboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--card-bg-color);
    width: 80%;
    height: fit-content;
    box-shadow: 0 0 5px 0 #e0e5e5;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    padding: 2rem 0;
    color: var(--banner-bg-color);
}

.list-body-item{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}